@import "@brumaombra/ui-vintage/style.css";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root[data-crypto-coin='bitcoin'] {
	--button-primary-light: #f7931a;
	--button-primary-hover-light: #df8112;
	--button-primary-dark: #f7931a;
	--button-primary-hover-dark: #df8112;
	--button-primary-foreground-light: #ffffff;
	--button-primary-foreground-dark: #1b1307;
	--primary: var(--button-primary-light);
	--primary-foreground: var(--button-primary-foreground-light);
	--ring: var(--button-primary-light);
	--sidebar-primary: var(--button-primary-light);
	--sidebar-primary-foreground: var(--button-primary-foreground-light);
	--sidebar-ring: var(--button-primary-light);
}

:root[data-crypto-coin='kaspa'] {
	--button-primary-light: #6fc7ba;
	--button-primary-hover-light: #5bb7ab;
	--button-primary-dark: #6fc7ba;
	--button-primary-hover-dark: #5bb7ab;
	--button-primary-foreground-light: #ffffff;
	--button-primary-foreground-dark: #06211f;
	--primary: var(--button-primary-light);
	--primary-foreground: var(--button-primary-foreground-light);
	--ring: var(--button-primary-light);
	--sidebar-primary: var(--button-primary-light);
	--sidebar-primary-foreground: var(--button-primary-foreground-light);
	--sidebar-ring: var(--button-primary-light);
}